## ignore .Rhistory files ##
*.Rhistory
## ignore any downstream sequencing data generated (eg, from trimming, aligning) ##
*.fastq.gz
*.fasta.gz
*.fa.gz
*.fasta
*.bam
*.cram
*.intervals
## ignore fasta, vcf, and bam index files ##
*.gzi
*.tbi
*.bai
*.fai
*.dict
## ignore vcf files ##
*.vcf.gz
*.gvcf.gz
## ignore slurm output messages ##
*.out
## ignore indexed genome files created by bwa ##
02_align/egsq_1MBmin.amb
02_align/egsq_1MBmin.ann
02_align/egsq_1MBmin.pac
02_align/egsq_1MBmin.sa
02_align/egsq_1MBmin.bwt
