## ignore .Rhistory files ##
*.Rhistory
## ignore any downstream sequencing data generated (eg, from trimming, aligning) ##
*.fastq.gz
*.fasta.gz
*.fa.gz
*.fasta
*.bam
## ignore vcf and bam index files ##
*.tbi
*.bai
## ignore vcf files ##
*.vcf.gz
*.gvcf.gz
## ignore slurm output messages ##
*.out
## ignore indexed genome files created by bwa ##
02_align/egsq.amb
02_align/egsq.ann
02_align/egsq.pac
02_align/egsq.sa
02_align/egsq.bwt
## ignore genomicsDB database directories (too many folders and files) ##
04_snp_calling/gatk/genomics_db/*/
## specific big files ##
04_snp_calling/gatk/snp_filtering/gatk_hf_recs/hardfilters.txt
